<% @cocktails.each do |cocktail| %>
  <div class="cards">
    <div class="card">
      <div class="new-card" style="background-image: url('images/shanghai.jpg')">
        <div class="location">RIO</div>
        <div class="ava" style="background-image: url('images/gab.png')"></div>
        <div class="info">
          <%= cocktail.name %>
      </div>
    </div>
<% end %>
