<div class="container-background-image">
  <div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'background.jpg', crop: :fill %>')">
    <h1>New Cocktail</h1>
    <%= render 'form', cocktail: @cocktail %>
  </div>
</div>


