.center-form {
  text-align: center;
}

h1 {
  text-align: center;
}

#back-button a {
  text-align: center;
}

.center-back {
  text-align: center;
  margin-top: 20px;
}


#show-cocktail {
  margin: 10px;
}
