// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";

h1, {
  color: #364A5C;
  text-align: center;
}

.div-with-image {
  background-image: image-url("background.jpg")
}
